body{
	background-color: transparent;
}
#content-area{
	max-width: 700px;
	display: block;
	margin: 10px auto;
}
#article-title{
	text-align: center;	
}
.tbg-p-title{
	border-left-width: 5px;
  		border-left-style: solid;
  		padding-left: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    margin-top: 20px;
}	
.tbg-p-title:nth-child(7n+1){
	border-left-color: #0a9dc7;
	color: #0a9dc7;
}
.tbg-p-title:nth-child(7n+2){
	border-left-color: #ad5f00;
	color: #ad5f00;
}
.tbg-p-title:nth-child(7n+3){
	border-left-color: #adad00;
	color: #adad00;
}
.tbg-p-title:nth-child(7n+4){
	border-left-color: #00ad00;
	color: #00ad00;
}
.tbg-p-title:nth-child(7n+5){
	border-left-color: #adad00;
	color: #adad00;
}
.tbg-p-title:nth-child(7n+6){
	border-left-color: #ad5f00;
	color: #ad5f00;
}
.tbg-p-title:nth-child(7n+7){
	border-left-color: #ad0000;
	color: #ad0000;
}
.tbg-p-tip{
	border: 1px solid #1ab394;
    padding: 20px;
    margin-top: 20px;
}
.article-item-content{
	word-break: break-all;
}
